@media only screen and (max-width: 1080px) {
    canvas {
        width: 100vw;
        height: 100vh;
    }

    .menu-container {
        width: 100vw;
        height: 100vh;
        object-fit: fill;
        aspect-ratio: auto 720 / 480;
    }

    .game-content {
        width: 100vw;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .win-loose-container {
        width: 100vw;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .instructions-container,
    .imprint-container {
        width: 100vw;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .panel-below {
        display: flex !important;
    }

    .toggle-button {
        display: none;
    }

}

@media only screen and (max-width: 610px) {
    .btn{
       font-size: 8px; 
    }
}

@media only screen and (max-width: 405px) {
    .btn{
       font-size: 6px; 
    }
}

@media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
    }

}