@media only screen and (max-width: 760px) {
    canvas {
        width: 98%;
    } 

    .controls {
        margin-top: 10px; 
    }

    .controls {
        padding: 10px;
        font-size: 14px;
        top: 200px;
    }
}

@media only screen and (max-width: 700px) {
    .controls {
        font-size: 12px;
        top: 200px;
        height: 230px;
        width: 280px;
    }
}

@media only screen and (max-width: 650px) {
    .controls {
        top: 250px;
    }

    #touch-controls {
        bottom: 5px;
    }

    #left-controls {
        left: 10px;
        bottom: 30px;
    }

    #right-controls {
        right: 35px;
        bottom: 30px;
    }

    .touch-btn {
        width: 50px;
        height: 50px;
    }

    .touch-btn img {
        width: 35px;
    }

    .play-btn{
        font-size: 18px;
    }

    .control-btn{
        font-size: 18px;
    }

    .headline-container{
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

}

@media only screen and (max-width: 580px) {
    .controls {
        font-size: 10px;
        height: 210px;
        width: 238px;
    }

    .controls h2 {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 510px) {
    .controls {
        top: 190px;
    }

    #touch-controls {
        bottom: 15px;
        display: flex;
    }

    #top-controls {
        display: flex;
    }
    
    .game-controls{
        display: none;
    }
    
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    } 

}

@media only screen and (max-width: 432px) {
    .controls {
        top: 238px;
    }
    
}

@media only screen and (max-width: 400px) {
    .touch-btn {
        width: 55px;
        height: 55px;
    }

    .touch-btn img {
        width: 30px;
    }

    .play-btn{
        font-size: 14px;
    }

    .control-btn{
        font-size: 14px;
    }

}

@media only screen and (max-width: 390px) {
    .controls {
        font-size: 8px;
        height: 170px;
        width: 180px;
    }

    .key-icon {
        width: 30px; 
        height: 30px;
        transition: transform 0.2s ease-in-out;
    }
    
}

@media only screen and (max-width: 330px) {
    .controls {
        font-size: 8px;
        height: 160px;
        width: 170px;
    }
    
}