#touch-controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    pointer-events: none;
    display: none;
}

#left-controls, #right-controls, #middle-controls {
    display: flex;
    gap: 15px;
    pointer-events: auto;
}

#left-controls {
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 20px;
}


#right-controls {
    flex-direction: row;
    position: absolute;
    right: 35px;
    bottom: 20px;
}

.touch-btn {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.jump-btn {
    background-color: rgba(255, 69, 0, 0.8);
}

.jump-btn:active {
    background-color: rgba(255, 69, 0, 18);
}

.throw-btn {
    background-color: rgba(255, 69, 0, 0.8);
}

.throw-btn:active {
    background-color: rgba(255, 69, 0, 1);
}

.move-left-btn {
    background-color: rgba(255, 200, 0, 0.8);
}

.move-left-btn:active {
    background-color: rgba(255, 180, 0, 1);
}

.move-right-btn {
    background-color: rgba(255, 200, 0, 0.8);
}

.move-right-btn:active {
    background-color: rgba(255, 180, 0, 1);
}

.touch-btn img {
    width: 40px;
    height: auto;
}

#top-controls {
    position: absolute;
    top: 35px; /* Oben am Canvas */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px; /* Abstand zwischen Buttons */
    z-index: 10;
    display: none;
}

.top-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 165, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.top-btn img {
    width: 30px;
    height: auto;
}

.top-btn:active {
    background-color: rgba(255, 140, 0, 0.9);
}

.swap-btn {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.9);
    display: none; /* Standardmäßig versteckt */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
    pointer-events: auto;
}

.swap-btn img {
    width: 40px;
    height: auto;
    filter: invert(1); 
}

.swap-btn:hover {
    background-color: #e05606;
}

.swap-btn:active {
    background-color: #ff4500;
}
